body {
  background-color: #999;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #999;
  padding-bottom: 2vh;
}

h2 {
  margin-top: 0;
}

h4 {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

#grid-container {
  background-color: #fff;
  width: 90vw;
  height: 60vh;
  padding: 2vw;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #333;
}

#grid {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

#battery {
  position: relative;
  top: 4vh;
  left: 40vw;
  color: #9157ff;
}

#options-container {
  width: 90vw;
  background-color: #dedede;
  border: 3px solid #333;
  border-radius: 1vw;
  padding: 2vw;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#drone {
  color: #9157ff;
}

button {
  width: 40vw;
  border-radius: 1vw;
  margin-top: 1vh;
  padding: 1vw;
  background-color: #9157ff;
  color: #fff;
  border: 2px solid #333;
}

.directionLocation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2vw;
  padding: 0 1vw;
}

.inputForm {
  flex: 1;
  min-width: 20vw;
  max-width: 30vw;
  background-color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 1vw;
  border: 2px solid #333;
  margin-bottom: 2vh;
  position: relative;
  height: auto;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm h3 {
  position: absolute;
  top: 1rem;
  font-size: 1.3em;
  margin: 0;
}

.parameters {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.parameters button {
  background-color: #333;
  border: 2px solid #9157ff;
  width: 75%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.directionButton {
  width: 3rem;
  height: 3rem;
  margin: 3%;
  background: #fff;
  border: 1px solid #333;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.directionButton.active {
  background-color: #9157ff;
  color: #fff;
}

.inputForm label p {
  margin-bottom: 0.5rem;
}

.inputForm input {
  accent-color: #9157ff;
}

.inputForm input:focus {
  outline: 2px solid #9157ff;
  border-radius: 4px;
}

.inputForm input[type="number"] {
  width: 80%;
  height: 2.5rem;
  padding: 0.5rem;
  text-align: center;
}

.inputForm input[type="text"] {
  width: 90%;
  padding: 0.5rem;
}

.inputForm input[type="checkbox"] {
  transform: scale(1.5);
}

@media (max-width: 1250px) {
  input {
    font-size: 0.9rem;
  }
  button {
    font-size: 1rem;
  }
  .directionLocation {
    flex-direction: column;
    align-items: center;
  }
  .inputForm {
    width: 90%;
    max-width: none;
  }
}

@media (min-width: 1250px) {
  input {
    font-size: 1.1rem;
  }
  button {
    font-size: 1.2rem;
  }
}